<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite4">
  <test name="Test4">
  <parameter name="BrowserName" value="chrome"></parameter>
    <classes>
      <class name="Emprix.Start.Emprix_Login"/>
    </classes>
  </test>
</suite> <!-- Suite4 -->
